<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyt8jAGG9OobZGwDguLMGaLPe9f2ZdQA0</string>
	<key>GCM_SENDER_ID</key>
	<string>1079558089114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsSphere</string>
	<key>PROJECT_ID</key>
	<string>newsphere-4a543</string>
	<key>STORAGE_BUCKET</key>
	<string>newsphere-4a543.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079558089114:ios:128714a151d207f1e23223</string>
</dict>
</plist>